<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AEPM_APICmd.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <applicationSettings>
        <AEPM_APICmd.My.MySettings>
            <setting name="ConsoleApplication1_corp_nmhg_global_enmdevex_Services"
                serializeAs="String">
                <value>http://enmiis01.global.nmhg.corp/AEPM_services/Services.svc</value>
            </setting>
            <setting name="AEPM_APICmd_AEPM_Test1_Services" serializeAs="String">
                <value>http://enmdevex.global.nmhg.corp:82/AEPM_services/Services.svc</value>
            </setting>
            <setting name="as400" serializeAs="String">
                <value>AC4TDAN1</value>
            </setting>
            <setting name="library" serializeAs="String">
                <value>CGJLEGAC</value>
            </setting>
            <setting name="errorFile" serializeAs="String">
                <value>errorSweep.csv</value>
            </setting>
            <setting name="successFile" serializeAs="String">
                <value>successSweep.csv</value>
            </setting>
            <setting name="toEmail" serializeAs="String">
                <value>cgjlegac@nmhg.com,cgjlegac@nmhg.com</value>
            </setting>
            <setting name="fromEmail" serializeAs="String">
                <value>cgjlegac@nmhg.com</value>
            </setting>
        </AEPM_APICmd.My.MySettings>
    </applicationSettings>
</configuration>
